<<<<<<< HEAD
=======
/*Home page*/

>>>>>>> Navneet-Development
.welcome-page-header {
    text-align: center;
    width: 100%;
    font-size: 30px;
    padding: 1px;
    background-color: #2D0C32; 
    color: white;
}

footer{
    background-color: #2D0C32;
    width: 100%;
    box-shadow: 0 25vh 0 25vh #2D0C32;
}

.welcome-text {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
<<<<<<< HEAD
    color: white;
=======
    color: black;
>>>>>>> Navneet-Development
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}

body {
    font-family: 'serif';
<<<<<<< HEAD
    background-color: black;
=======
    background-color: white;
>>>>>>> Navneet-Development
    color: white;
    font-size: 18px;
}

label{
    display: inline-block;
    width: 75px;
    text-align: right;
    margin: 5px;
<<<<<<< HEAD
}
=======
}

/*Navigation bar*/

*{
    padding: 5;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #583a74;
    height: 78px;
    width: 100%;

}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
float: right;
margin-right: 20px;

}

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;

}

nav ul li a{
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;

}

 a:hover{
background: none;
color: #0082e6;
transition: .5s;

}

.boxbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#box{
    display: none;
}

/*Mobile responsive for Navigation Bar - 980 - > 750 */

@media (max-width: 980px) {
    label.logo{
        font-size: 35px;
        padding-left: 55px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 750px) {
    .boxbtn{
        border-radius: 0%;
        display: block;
        top: 10px;
    }

 ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #583a74;
    top: 75px;
    left: -100%;
    text-align: center;
    transition: all .5s;
 }
 
 nav ul li{
    display: block;

 }
 
 nav ul li a{
 font-size: 20px;

}

a:hover{
    background: none;
    color: #0082e6;
}

#box:checked ~ ul{
    left: 0;
}

}

>>>>>>> Navneet-Development
